.brands{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 1;
    flex-shrink: 1; */
    justify-content: flex-start;
    gap: 25px;
    padding: 20px;
    width: 100%;
    /* filter: invert(100%); */
}
.brands-card{
    border-radius: 5px;
    flex: 1 1 300px;
    max-width: 300px;
}
.card img{
    width: 470px;
    height: 470px;
    /* object-fit: cover; */
}
.info{
    margin-top: 0px;
    background-color: white;
    padding: 10px;
    flex-grow: 1;
    /* width: 100%;
    height: 80px; */
}

.brands div{
    color: rgb(0, 0, 0);

}
.brands button{
    width: 100%;
    height: 30px;
    border: double;
    border-radius: 10px;
    background-color: rgb(85, 211, 245);
    cursor: pointer;
}
.brands button:hover{
    background-color: darkorange;
}
#fashion_head{
    text-align: center;
    color: white;
    margin: 10px 0px;
}

